node_modules
npm-debug.log
dist
build
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.DS_Store
test-results
playwright-report
e2e
.next
.venv
__pycache__
.idea
.vscode
*.swp
*.swo
.env
